<div class="divFora">
    <div class="container">
        <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #input>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Salario</mat-label>
            <input matInput #input>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Idade</mat-label>
            <input matInput #input>
        </mat-form-field>
    <button mat-flat-button color="primary" class="button">Inserir</button>
    </div>
</div>

