.container {
    border: 1px solid black;
    max-width: 500px;
    width: 500px;
  }

  .mat-form-field{
      display: block;
      margin: 30px;
  }

.button{
    margin-bottom: 30px;
}

.divFora {
    margin: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}